@charset "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

*+p, *+ul, *+ol, *+dl, *+blockquote, *+pre, *+address, *+fieldset, *+figure
	{
	margin-top: 15px;
}

p, ul, ol, dl, blockquote, pre, address, fieldset, figure {
	margin: 0 0 15px 0;
}

body, button, input {
	font-size: 13px;
	font-family: "Helvetica LT W01 Roman", "Apple SD Gothic Neo",
		"Noto Sans KR", "Malgun Gothic", "MalgunGothic", Dotum, serif, Arial,
		Helvetica;
	color: #606060;
	line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica LT W01 Roman", "Apple SD Gothic Neo",
		"Noto Sans KR", "Malgun Gothic", "MalgunGothic", Dotum, serif, Arial,
		Helvetica;
	color: #606060;
	line-height: 1;
}

h6 {
	display: block;
	font-size: 0.67em;
	margin-block-start: 2.33em;
	margin-block-end: 2.33em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

html {
	font: normal 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	background: #fff;
	color: #444;
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

i {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: #111111;
	text-decoration: none;
	outline: none;
}

::selection {
	background: #39f;
	color: #fff;
	text-shadow: none;
}

.icon-background, .brz-icon-instagram, .brz-icon-facebook,
	.brz-icon-twitter, .brz-icon-cart, .brz-icon-search,
	.brz-icon-registerdone, .brz-icon-star_small, .brz-icon-star_normal,
	.brz-icon-star_large, .brz-icon-star_xlarge, .star-bullet,
	.brz-icon-bambug, .brz-icon-bambug_small, .brz-icon-logo,
	.brz-icon-info, .brz-icon-select_up, .brz-icon-select_down,
	.brz-icon-opt-select_up, .brz-icon-opt-select_down, .brz-icon-slidebar,
	.brz-icon-radio, .brz-icon-checkbox, .brz-icon-delete, .brz-icon-file,
	.brz-icon-img-file, .brz-icon-arrow, .file-remove_btn, .popup-close_btn
	{
	display: inline-block;
	overflow: hidden;
	background-image: url(../../../../../../mall_project/images/icon.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
	background-size: 800px auto;
}

.wrapper {
	min-height: 100%;
	padding-top: 108px;
}

.uk-margin-xlarge-top {
	margin-top: 70px !important;
}

.uk-width-1-1 {
	width: 100%;
}

.login-wrap.width-small {
	max-width: 420px;
}

.login-wrap {
	margin: 0 auto;
	width: 100%;
	position: relative;
	padding: 0 20px 32px;
	box-sizing: border-box;
}

.login-wrap .header {
	margin-bottom: 40px;
}

.login-wrap>* {
	margin: 0 auto;
}

.uk-text-center {
	text-align: center !important;
}

.login-wrap .header>.title {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	font-size: 24px;
	color: #111111;
	font-weight: 500;
}

.uk-grid {
	margin-left: -20px;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.login-wrap .body .register-terms .tit {
	font-size: 11px;
	margin-top: 30px;
	padding-bottom: 8px;
	font-weight: bold;
	color: #000000;
}

.login-wrap .body .register-terms .btn-agree-allview {
	font-size: 11px;
	margin-top: 30px;
}

.uk-width-1-1 {
	width: 100%;
}

[class*='uk-width'] {
	box-sizing: border-box;
	width: 100%;
}

.uk-grid>* {
	padding-left: 20px;
}

.uk-grid>* {
	-ms-flex: none;
	-webkit-flex: none;
	flex: none;
	margin: 0;
	float: left;
}

.uk-grid>*>:last-child {
	margin-bottom: 0;
}

.uk-form-row:before, .uk-form-row:after {
	content: "";
	display: table;
}

.uk-form-row:after {
	clear: both;
}

.input-textfield.width-max {
	width: 100%;
}

.width-max {
	max-width: 100%;
}

.input-textfield {
	display: inline-block;
	position: relative;
	width: 200px;
}

.uk-form-row+.uk-form-row {
	margin-top: 15px;
}

.input-textfield>input {
	width: 100%;
	height: 40px;
	border: 1px solid #e5e5e5;
	padding: 9px 12px;
	outline: none;
	box-sizing: border-box;
}

input, textarea {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-appearance: none;
	font-size: 14px;
}

.login-wrap .body .register-terms .uk-grid {
	margin-left: 0;
}

.login-wrap .body .register-terms .uk-grid>* {
	padding-left: 0;
}

.uk-text-right {
	text-align: right !important;
}

.uk-width-1-2, .uk-width-2-4, .uk-width-3-6, .uk-width-5-10 {
	width: 50%;
}

.uk-grid:after {
	clear: both;
}

.uk-grid:before, .uk-grid:after {
	content: "";
	display: block;
	overflow: hidden;
}

.scroll-box {
	overflow-y: scroll;
	height: 110px;
	padding: 15px 8px;
	border: 1px solid #d1d1d1;
}

.login-wrap .body .register-terms .agree-test {
	padding-top: 7px;
	font-size: 11px;
	line-height: 1.5;
}

.input-checkbox>input {
	-webkit-appearance: checkbox;
	left: -1000px;
	position: relative;
}

.input-checkbox>label>i {
	display: table-cell;
}

.input-checkbox>label>i {
	margin-right: 5px;
}

.brz-icon-checkbox {
	float: left;
	width: 18px;
	height: 19px;
	background-position: -22px -320px;
	z-index: 10;
}

.dynamic-form-register input[type=checkbox]+label .label.font-normal {
	font-weight: normal;
	text-decoration: none;
}

.dynamic-form-register input[type=checkbox]+label .label {
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}

.input-checkbox.checked i {
	background-position: -89px -320px;
}

.input-checkbox>label .label {
	display: table-cell;
	vertical-align: middle;
}

element.style {
	
}

.dynamic-form-register input[type=checkbox]+label .label.font-normal {
	font-weight: normal;
	text-decoration: none;
}

.dynamic-form-register input[type=checkbox]+label .label {
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}

.input-checkbox>label>.label {
	display: table-cell;
	vertical-align: middle;
}

.input-checkbox>label>.label {
	font-size: 13px;
}

.input-checkbox>label {
	display: inline-block;
	line-height: 20px;
	cursor: pointer;
}

.label {
	color: #606060;
	padding: 0 0 5px;
}